<Server xmlns="srv.core"
        xmlns:handler="srv.handler"
        xmlns:endpoint="srv.endpoint">

    <EndPoints>
        <endpoint:HttpEndPoint port="{ENV().port}"/>
    </EndPoints>

    <Handlers>
        <handler:NodeRenderingHandler application="app/Index.xml" usePackageVersion="true"
                applicationUrl="http://www.rappidjs.com"/>
    </Handlers>

</Server>
