/** BOOTSTRAP FIXES **/
.data-grid-body table td {
    padding: 0;
    border:  none;
}

* {
    -moz-box-sizing: inherit;
    -webkit-box-sizing: inherit;
    box-sizing: inherit;
}

.data-grid {
    position: relative;
}

.data-grid-body  {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.data-grid-body  tr.active,
.data-grid-body tr:hover.active td {
    background: #303030;
    color: white;
}

.data-grid-body table .cell-container {
    padding: 8px;
    overflow: hidden;
    border-top: 1px solid #DDD;
}


#container {
    margin-top: 70px;
}

.center {
    text-align: center;
}

#home .hero-unit li {
    display: inline-block;
    margin: 10px;
}

#home .btn {
    margin: 10px;
}

#home > h2 {
    margin-top: 80px;
}

#home h3 {
    margin: 20px 0 10px 0;
}

.with-buttons {
    position: relative;
    padding-bottom: 50px;
    margin-bottom: 30px;
}

.app {
    margin-top: 54px;
}

#home .buttons {
    position: absolute;
    bottom: 0;
}

#home .buttons > :first-child {
    margin-left: 0;
}

.footer {
    margin-top: 50px;
    padding: 10px 0px;
    background: #303030;
    color: #999999;
    border-top: 1px solid #444;
    border-bottom: 1px solid #444;
}

.footer h3 {
    color: white;
}

.contact-app ul:after,
.contact-app form:after {
    display: table;
    content: "";
    clear: both;
}

.contact-app .card {
    border: 1px solid lightgray;
    border-radius: 5px;
    margin: 0 10px 10px 0;
    padding: 5px 10px;
    float: left;
    background: white;
}

.contact-app .preview {
    opacity: 0.5;
    float: none;
    border-style: dashed;
}

.app .done{
    text-decoration: line-through;
}

.contact-app .card p {
    margin: 0;
}

.contact-app input {
    float: left;
    margin: 5px 10px 5px 0;
    width: 110px;
}

.contact-app .btn-primary {
    width: 50px;
    margin-left: 70px;
}

.parameter-list > span:after {
    content: ','
}

.parameter-list > span:last-child:after {
    content: '';
    display: none;
}

/*
    http://code.google.com/p/google-code-prettify/prettify.css
    Apache License 2.0
*/

.prettyprint {
    padding: 8px;
    background-color: #f7f7f9;
    border: 1px solid #e1e1e8;
}

.prettyprint.linenums {
    -webkit-box-shadow: inset 40px 0 0 #fbfbfc, inset 41px 0 0 #ececf0;
    -moz-box-shadow: inset 40px 0 0 #fbfbfc, inset 41px 0 0 #ececf0;
    box-shadow: inset 40px 0 0 #fbfbfc, inset 41px 0 0 #ececf0;
}

/* Specify class=linenums on a pre to get line numbering */
ol.linenums {
    margin: 0 0 0 33px; /* IE indents via margin-left */
}

ol.linenums li {
    padding-left: 12px;
    line-height: 18px;
    text-shadow: 0 1px 0 #fff;
}

/**/

.jumbotron {
    position: relative;
}

.jumbotron h1 {
    margin-bottom: 9px;
    font-size: 54px;
    font-weight: bold;
    letter-spacing: -1px;
    line-height: 1;
}

.jumbotron p {
    margin-bottom: 18px;
    font-weight: 300;
}

.data-grid-body {
    height: 365px;
}

.article-list {

}

.article-list ul {
    list-style: none;
}

.article-list ul li.active {
    background: #f5f5f5;
}

.select {
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -khtml-box-sizing: border-box;
    box-sizing: border-box;
    position: relative;
    display: inline-block;
    zoom: 1;
    vertical-align: top;
}

.select .select-choice {
    background-color: white;
    background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, #EEE), color-stop(0.5, white));
    background-image: -webkit-linear-gradient(center bottom, #EEE 0%, white 50%);
    background-image: -moz-linear-gradient(center bottom, #EEE 0%, white 50%);
    background-image: -o-linear-gradient(bottom, #EEE 0%, white 50%);
    background-image: -ms-linear-gradient(top, #EEE 0%, white 50%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr = '#eeeeee', endColorstr = '#ffffff', GradientType = 0);
    background-image: linear-gradient(top, #EEE 0%, white 50%);
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    border: 1px solid #AAA;
    display: block;
    overflow: hidden;
    white-space: nowrap;
    position: relative;
    height: 26px;
    line-height: 26px;
    padding: 0 40px 0 8px;
    color: #444;
    text-decoration: none;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.select .select-choice div {
    -webkit-border-radius: 0 4px 4px 0;
    -moz-border-radius: 0 4px 4px 0;
    border-radius: 0 4px 4px 0;
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    background: #CCC;
    background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, #CCC), color-stop(0.6, #EEE));
    background-image: -webkit-linear-gradient(center bottom, #CCC 0%, #EEE 60%);
    background-image: -moz-linear-gradient(center bottom, #CCC 0%, #EEE 60%);
    background-image: -o-linear-gradient(bottom, #CCC 0%, #EEE 60%);
    background-image: -ms-linear-gradient(top, #CCC 0%, #EEE 60%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr = '#cccccc', endColorstr = '#eeeeee', GradientType = 0);
    background-image: linear-gradient(top, #CCC 0%, #EEE 60%);
    border-left: 1px solid #AAA;
    position: absolute;
    right: 0;
    top: 0;
    display: block;
    height: 100%;
    width: 18px;
}

.select .select-choice div b {
    background: url('../img/select.png') no-repeat 0 1px;
    display: block;
    width: 100%;
    height: 100%;
}

.select.open .select-choice div {
    background: transparent;
    border-left: none;
}

.select.open .select-choice div b{
    background-position: -18px 1px;
}

.select .select-search {
    display: inline-block;
    white-space: nowrap;
    z-index: 10000;
    min-height: 26px;
    width: 100%;
    margin: 0;
    padding-left: 4px;
    padding-right: 4px;
}

.select .select-search input {
    background: white url('../img/select.png') no-repeat 100% -22px;
    background: url('../img/select.png') no-repeat 100% -22px, -webkit-gradient(linear, left bottom, left top, color-stop(0.85, white), color-stop(0.99, #EEE));
    background: url('../img/select.png') no-repeat 100% -22px, -webkit-linear-gradient(center bottom, white 85%, #EEE 99%);
    background: url('../img/select.png') no-repeat 100% -22px, -moz-linear-gradient(center bottom, white 85%, #EEE 99%);
    background: url('../img/select.png') no-repeat 100% -22px, -o-linear-gradient(bottom, white 85%, #EEE 99%);
    background: url('../img/select.png') no-repeat 100% -22px, -ms-linear-gradient(top, white 85%, #EEE 99%);
    background: url('../img/select.png') no-repeat 100% -22px, linear-gradient(top, white 85%, #EEE 99%);
    padding: 4px 20px 4px 5px;
    outline: 0;
    border: 1px solid #AAA;
    font-family: sans-serif;
    font-size: 1em;
    width: 100%;
    margin: 0;
    height: auto !important;
    min-height: 26px;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    border-radius: 0;
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
}

.select .select-results li {
    width: 100%;
}

.select .select-drop {
    display: none;
    background: white;
    color: black;
    border: 1px solid #AAA;
    border-top: 0;
    position: absolute;
    top: 100%;
    -webkit-box-shadow: 0 4px 5px rgba(0, 0, 0, .15);
    -moz-box-shadow: 0 4px 5px rgba(0, 0, 0, .15);
    -o-box-shadow: 0 4px 5px rgba(0, 0, 0, .15);
    box-shadow: 0 4px 5px rgba(0, 0, 0, .15);
    z-index: 9999;
    width: 100%;
    margin-top: -1px;
    -webkit-border-radius: 0 0 4px 4px;
    -moz-border-radius: 0 0 4px 4px;
    border-radius: 0 0 4px 4px;
}

.select .select-choice abbr {
    display: block;
    position: absolute;
    right: 26px;
    top: 5px;
    width: 12px;
    height: 12px;
    font-size: 1px;
    background: url('../img/select.png') right top no-repeat;
    cursor: pointer;
    text-decoration: none;
    border: 0;
    outline: 0;
}

.select.open .select-choice{
    border: 1px solid #AAA;
    border-bottom-color: transparent;
    -webkit-box-shadow: 0 1px 0 white inset;
    -moz-box-shadow: 0 1px 0 #fff inset;
    -o-box-shadow: 0 1px 0 #fff inset;
    box-shadow: 0 1px 0 white inset;
    background-color: #EEE;
    background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, white), color-stop(0.5, #EEE));
    background-image: -webkit-linear-gradient(center bottom, white 0%, #EEE 50%);
    background-image: -moz-linear-gradient(center bottom, white 0%, #EEE 50%);
    background-image: -o-linear-gradient(bottom, white 0%, #EEE 50%);
    background-image: -ms-linear-gradient(top, white 0%, #EEE 50%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr = '#ffffff', endColorstr = '#eeeeee', GradientType = 0);
    background-image: linear-gradient(top, white 0%, #EEE 50%);
    -webkit-border-bottom-left-radius: 0;
    -webkit-border-bottom-right-radius: 0;
    -moz-border-radius-bottomleft: 0;
    -moz-border-radius-bottomright: 0;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

.select.open .select-drop {
    display: block;

}

.select .select-results {
    margin: 4px 4px 4px 0;
    padding: 0 0 0 4px;
}

.select .select-container input{
    width: 90%;
}

.select .select-container li {
    width: 100%;
}

.select.open .select-container {
    display: block;
}

.select .text-item {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}
