<?xml version="1.0"?>
<app:AppClass xmlns="http://www.w3.org/1999/xhtml"
               xmlns:js="js.core" xmlns:ui="js.ui" xmlns:app="example.basic">
    <h2>{appName}</h2>
    <div>
        <input value="{{name}}" placeholder="Enter your name"/>
        <p>
            Hello {name}!
        </p>
    </div>
</app:AppClass>